<header class="bg-white">
    <nav class="mx-auto flex max-w items-center justify-between p-6 lg:px-8 border border-solid border-black-600" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="assets/image.png" alt="" />
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
  
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">
          <img class="inline-block h-14 w-14 rounded-full ring-2 ring-white" src="assets/personavatar.jpg" alt="" />
        </a>
        <div class="relative">
          <button (click)="toggleDropdown()" class="mt-4 text-sm font-semibold leading-6 text-gray-900">
            <img class="inline-block h-3 w-3 rounded-full ring-2 ring-white" src="assets/droopicon.jpg" alt="" />
          </button>
          <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 w-48 bg-white border border-gray-300 rounded-lg shadow-lg">
            <ul class="py-1 text-sm">
              <li><a href="#" (click)="logout()" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
