<div class="p-6 bg-white rounded-lg shadow-lg">
  <div class="pl-2 flex justify-between items-center mb-4">
    <div class="flex">
      <!-- <div class="hover:cursor-pointer bg-gray-200 p-2">
        <button type="button" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700">
          <svg (click)="onCloseDrawer()" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div> -->
      <h2 class="ml-2 p-1 text-xl font-semibold">Enter Details</h2>
    </div>
    <button class="text-gray-500 hover:text-gray-800">
      <!-- oncloseDrawer function call below line -->
      <svg (click)="onCloseDrawer()" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
  <form [formGroup]="form" class="space-y-4" (ngSubmit)="onSubmit()">
    <div class="pt-5 grid grid-cols-2 gap-4">
      <div class="pl-5">
        <label class="block text-gray-700 text-md font-semibold mb-2" for="name">
          Name <span class="text-red-500">*</span>
        </label>
        <input
          class="h-11 shadow appearance-none border-2 border-solid border-black-600 rounded-lg w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="name" formControlName="name" type="text" placeholder="Enter Name">
        <div *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)"
          class="text-red-500">
          Name is required.
        </div>
      </div>
      <div class="pr-5">
        <label class="block text-gray-700 text-md font-semibold mb-2" for="email">
          Email <span class="text-red-500">*</span>
        </label>
        <input
          class="h-11 shadow appearance-none border-2 border-solid border-black-600 rounded-lg w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email" formControlName="email" type="email" placeholder="Enter Email">
        <div *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)"
          class="text-red-500">
          Valid email is required.
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">


      <div class="relative pl-5">
        <!-- <div class=" col-md-6 col-sm-12">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Client</mat-label>
              <mat-select formControlName="client" multiple>
                <mat-option *ngFor="let client of clients" [value]="client.id">{{client.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>
        </div> -->



        <label class="block text-gray-700 text-md font-semibold mb-2" for="client">
          Client <span class="text-red-500">*</span>
        </label>
        <select Client
          class="h-11 shadow appearance-none border-2 border-solid border-black-600 rounded-lg w-full p-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="client" formControlName="client">
          <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
        </select>
        <div class="mr-2 absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
          <img src="assets/droopicon.jpg" alt="Arrow" class="w-4 h-4">
        </div>
      </div>


      

      <div class="relative pr-5">
        <!-- <label class="block text-gray-700 text-md font-semibold mb-2" for="state">
          State <span class="text-red-500">*</span>
        </label>
        <select
          class="h-11 shadow appearance-none border-2 border-solid border-black-600 rounded-lg w-full p-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="state" formControlName="state">
          <option value="">Select</option>
          <option value="texas">texas</option>

          <option value="florida">florida</option>

        </select>
        <div class="mt-8 mr-8 absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
          <img src="assets/droopicon.jpg" alt="Arrow" class="w-4 h-4">
        </div> -->
                <label class="block text-gray-700 text-md font-semibold mb-2">
          State <span class="text-red-500">*</span>
        </label>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>State</mat-label>
              <mat-select formControlName="state" multiple>
                <mat-option *ngFor="let state of states" [value]="state.id">{{state.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>
        </div>

      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="pl-5">
        <label class="block text-gray-700 text-md font-semibold mb-2" for="dob">
          Date of Birth <span class="text-red-500">*</span>
        </label>
        <input
          class="h-11 shadow appearance-none border-2 border-solid border-black-600 rounded-lg w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="dob" formControlName="dob" type="date">
        <div *ngIf="form.get('dob')?.invalid && (form.get('dob')?.touched || form.get('dob')?.dirty)"
          class="text-red-500">
          Date of Birth is required.
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-gray-700 text-md font-semibold mb-2" for="experience-start">
            Experience Start <span class="text-red-500">*</span>
          </label>
          <input
            class="h-11 shadow appearance-none border-2 border-solid border-black-600 rounded-lg w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="experience-start" formControlName="experienceStart" type="date">
          <div
            *ngIf="form.get('experienceStart')?.invalid && (form.get('experienceStart')?.touched || form.get('experienceStart')?.dirty)"
            class="text-red-500">
            Experience Start date is required.
          </div>
        </div>
        <div class="w-full pr-5 pl-5">
          <label class="block text-gray-700 text-md font-semibold mb-2" for="experience-end">
            Experience End <span class="text-red-500">*</span>
          </label>
          <input
            class="h-11 shadow appearance-none border-2 border-solid border-black-600 rounded-lg w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="experience-end" formControlName="experienceEnd" type="date" 
            [value]="isPresent ? presentDate : form.get('experienceEnd')?.value"
            >
          <div
            *ngIf="form.get('experienceEnd')?.invalid && (form.get('experienceEnd')?.touched || form.get('experienceEnd')?.dirty)"
            class="text-red-500">
            Experience End date is required.
          </div>
          <div
          *ngIf="form.errors?.['invalidDateRange'] && (form.get('experienceEnd')?.touched || form.get('experienceEnd')?.dirty)"
          class="text-red-500">
          Experience End date must be after the Experience Start date.
        </div>
        
          <label 
          class="block text-gray-700 text-md font-semibold" 
          for="isPresent">
          Present
        </label>
        <input 
        type="checkbox" 
        class="h-4 w-4 text-indigo-600 border-gray-300 rounded mr-2" 
        id="isPresent" 
        (change)="togglePresent($event)">
        </div>
      </div>
    </div>

    <div class="pl-5 pr-5">
      <label class="block text-gray-700 text-md font-semibold mb-2" for="years-experience">
        Years of Experience <span class="text-red-500">*</span>
      </label>
      <input
        class="h-11 shadow appearance-none border-2 border-solid border-black-600 rounded-lg w-full p-4 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline"
        id="years-experience" formControlName="yearsExperience" type="text" placeholder="1 Year 3 months" readonly>
    </div>
    


    <div class="pl-5 pr-5 flex items-center">
      <input 
        type="checkbox" 
        class="h-4 w-4 text-indigo-600 border-gray-300 rounded mr-2" 
        id="changeState" 
        name="changeState" 
        (change)="onPercentageChange($event)">
      <label 
        class="block text-gray-700 text-md font-semibold" 
        for="changeState">
        Change State
      </label>
    </div>
    
    <div class="w-1/2 pr-5 pl-5">
      <label 
        class="block text-gray-700 text-md font-semibold mb-2" 
        for="rate">
        {{ isPercentage ? 'Percentage' : 'Hourly Rate' }} <span class="text-red-500">*</span>
      </label>
      <div class="relative w-full">
        <input 
          class="h-11 shadow appearance-none border-2 border-solid border-black-600 rounded-lg w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
          id="rate" 
          formControlName="rate" 
          type="text" 
          placeholder="Enter {{ isPercentage ? 'Percentage' : 'Hourly rate' }}">
        <div class="rounded-lg absolute inset-y-0 right-0 justify-center flex">
          <span class="text-white bg-gray-400 rounded-lg h-full w-12 py-3 pl-5">{{ isPercentage ? '%' : '$' }}</span>
        </div>
      </div>

      <div
      *ngIf="form.get('rate')?.invalid && (form.get('rate')?.touched || form.get('rate')?.dirty)"
      class="text-red-500">
      Hourly rate or precentage is required.
    </div>
    
      <div *ngIf="form.get('rate')?.hasError('invalidPercentage') && 
                    (form.get('rate')?.touched || form.get('rate')?.dirty)" 
           class="text-red-500">
        Percentage should be between 0 and 100 with up to 2 decimal places.
      </div>
      
      <div *ngIf="form.get('rate')?.hasError('invalidHourlyRate') && 
                    (form.get('rate')?.touched || form.get('rate')?.dirty)" 
           class="text-red-500">
        Hourly Rate must be a positive number with up to 2 decimal places.
      </div>
    </div>
    
    
    <div class="pl-5">
      <label class="block text-gray-700 text-md font-semibold mb-2" for="gender">
        Select Gender
      </label>
      <div class="mt-1 space-y-2">
        <div class="flex items-center">
          <input 
            type="radio" 
            id="genderMale" 
            name="gender" 
            class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500 mr-2" 
            formControlName="gender" 
            value="Male">
          <label class="block text-gray-700 text-md font-semibold" for="genderMale">Male</label>
        </div>
        <div class="flex items-center">
          <input 
            type="radio" 
            id="genderFemale" 
            name="gender" 
            class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500 mr-2" 
            formControlName="gender" 
            value="Female">
          <label class="block text-gray-700 text-md font-semibold" for="genderFemale">Female</label>
        </div>
        <div class="flex items-center">
          <input 
            type="radio" 
            id="genderOther" 
            name="gender" 
            class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500 mr-2" 
            formControlName="gender" 
            value="Other">
          <label class="block text-gray-700 text-md font-semibold" for="genderOther">Other</label>
        </div>
      </div>
    </div>
    
    <div class="pl-5 pr-5">
      <div class="border-2 border-dashed border-gray-300 p-8 rounded-lg flex flex-col items-center justify-center text-center">
<img class="h-16 w-auto" src="assets/clip.png" alt="">
          <p class="text-gray-600">Drop your attachment here or <span class="text-blue-500 cursor-pointer" (click)="browseFiles()">browse</span></p>
          <p class="text-gray-400">PDF, DOC, DOCX, JPG, JPEG or PNG (max, 5 MB)</p>
          <input
          type="file"
          class="hidden"
          accept=".pdf,.doc,.docx,.jpg,.jpeg,.png"
          id="file-upload"
          (change)="onFilesSelected($event)"
          multiple="multiple"
        />
        </div>


<div
      *ngFor="let file of filesWithImages"
      class="flex justify-between items rounded-lg overflow-hidden p-5 h-16"
    >
      <!-- <p><strong>Type:</strong> {{ file.type }}</p> -->
      <div class="w-1/12 overflow-hidden">
        <img
        (click)="openAttachment(file)"
        style="cursor: pointer;"
          *ngIf="file.imageUrl"
          [src]="file.imageUrl"
          class="rounded-l-md w-auto h-16"
        />
      </div>
      <div class="w-11/12 bg-gray-200 pl-2 flex justify-between gap-2">
        <div class="w-4/5">
          <h4 class="font-semibold text-lg">{{ file.name }}</h4>
          <p class="text-gray-600 text-sm font-semibold">
            {{ (file.size / 1048576).toFixed(2) }} MB
          </p>
        </div>
        <div class="w-1/5 bg-gray-50 h-full grid place-items-center">
          <button (click)="removeFile(file)">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18 17.94 6M18 18 6.06 6"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
 


    </div>
    <div class="pl-5 pr-5">
      <button 
      [ngClass]="{
        'cursor-not-allowed': !form.valid,
        'border-red-500': !form.valid
      }"
      [disabled]="!form.valid"
      type="submit"
        class="w-full h-12 text-white bg-indigo-500 hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700 rounded-lg shadow-lg">
        Save
      </button>
    </div>
  </form>
</div>
