<div class="container mx-auto px-4">
  <div class="flex justify-between items-center my-4 ">
    <h2 class="text-2xl font-semibold">Employees</h2>
  </div>

  <div class="relative overflow-x-auto p-4 shadow-md sm:rounded-lg border border-solid border-black-600">
    <div class="flex justify-end mb-4 p-4">
      <div class="right flex gap-2 items-center">
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <svg class="w-6 h-6 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <input type="text" id="input-group-1"
          (input)="searchTermChanged($event)"
          placeholder="Search"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             />
        </div>
        <button type="button" (click)="setDrawerState(true)"
          class="text-white bg-gray-700 hover:bg-grey-100 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-grey-400 dark:hover:bg-grey-400  flex items-center gap-2">
          <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 12h14m-7 7V5" />
          </svg>

          <span>Add Details</span>
        </button>
      </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-500 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 font-medium">Name
            <button (click)="sortColumn('Name')">
              <img class="ml-2 h-2 w-2" [src]="getSortIcon('Name')" alt="Sort">
            </button>
          </th>
          <th scope="col" class="px-6 py-3 font-medium">Email
            <button (click)="sortColumn('Email')">
              <img class="ml-2 h-2 w-2" [src]="getSortIcon('Email')" alt="Sort">
            </button>
          </th>
          <th scope="col" class="px-6 py-3 font-medium">Client
            <button (click)="sortColumn('Client')">
              <img class="ml-2 h-2 w-2" [src]="getSortIcon('Client')" alt="Sort">
            </button>
          </th>
          <th scope="col" class="px-6 py-3 font-medium">Years Of Experience
            <button (click)="sortColumn('yearsOfExperience')">
              <img class="ml-2 h-2 w-2" [src]="getSortIcon('YearsOfExperience')" alt="Sort">
            </button>
          </th>
          <th scope="col" class="px-6 py-3 font-medium">Gender
            <button (click)="sortColumn('Gender')">
              <img class="ml-2 h-2 w-2" [src]="getSortIcon('Gender')" alt="Sort">
            </button>
          </th>
          <th scope="col" class="px-6 py-3 font-medium">Rate
            <button (click)="sortColumn('Rate')">
              <img class="ml-2 h-2 w-2" [src]="getSortIcon('Rate')" alt="Sort">
            </button>
          </th>
          <th scope="col" class="px-6 py-3 font-medium">Action
            <button (click)="sortColumn('action')">
              <img class="ml-2 h-2 w-2" [src]="getSortIcon('action')" alt="Sort">
            </button>
          </th>
        </tr>
        





      </thead>
      <tbody>


        <tr *ngFor="let employee of employees">
          <td class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ employee.name }}</td>
          <td class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ employee.email }}</td>

          <td class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ employee.clientName }}
          </td>
          <td class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
            employee.yearsofexperience }}</td>

          <td class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ employee.gender }}</td>
          <td class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ formatRate(employee.rate, employee.rateFlag) }}</td>

          <td class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><button class="ml-9"
              (click)="setDrawerState(true)"  (click)="onEdit(employee.id)"  class="bg-gray-200 rounded-xl"><img src="assets/editicon.png"
                class="p-1 h-6 w-6" alt=""></button>
            <button (click)="onDelete(employee.id)" class="bg-gray-200 rounded-xl"><img src="assets/deleteicon.png"
                class="p-0.5 h-6 w-6" alt=""></button>
          </td>
        </tr>

      </tbody>
    </table>
    <!-- pagenation component here -->
    <app-pagenation

    ></app-pagenation>
  </div>
  <div
    class="fixed top-0 right-0 h-full w-[60%] bg-white shadow-lg transform transition-transform duration-300 ease-in-out z-50"
    [ngClass]="{'translate-x-full': !isDrawerOpen, 'translate-x-0': isDrawerOpen}">
    <div class="p-4 h-full flex flex-col relative">
      <!-- Close Button (Cross Icon) at the Top Right -->
      <!-- <button type="button" (click)="toggleDrawer()" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700">
     <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
     </svg>
   </button> -->


      <!-- Scrollable Content -->
      <div class="overflow-y-auto flex-grow">
        <app-user-form [isDrawerOpen]="isDrawerOpen" (closeDrawer)="setDrawerState($event)"></app-user-form>
      </div>
    </div>
  </div>


</div>